.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 50%;
}

.input {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.input > input {
    background: #F5F5F5;

    padding: 3%;
    height: 40px;

    border: 1px solid #9e9e9e;
    border-radius: 8px;

    color: #9e9e9e;

    margin: 5px 0;
}